In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('./train.csv')

In [4]:
data.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."

In [5]:
for i in data.columns:
    print(data[[i]].isnull().sum())

TRIP_ID    0
dtype: int64
CALL_TYPE    0
dtype: int64
ORIGIN_CALL    1345900
dtype: int64
ORIGIN_STAND    904091
dtype: int64
TAXI_ID    0
dtype: int64
TIMESTAMP    0
dtype: int64
DAY_TYPE    0
dtype: int64
MISSING_DATA    0
dtype: int64
POLYLINE    0
dtype: int64

In [6]:
data['date_time'] = pd.to_datetime(data['TIMESTAMP'], unit='s')

In [7]:
data['second'] = pd.DatetimeIndex(data['date_time']).second

In [8]:
data.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,date_time,second
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[...",2013-07-01 00:00:58,58
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[...",2013-07-01 00:08:23,23
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-...",2013-07-01 00:02:31,31
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[...",2013-07-01 00:00:54,54
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-...",2013-07-01 00:04:51,51

In [9]:
data[['ORIGIN_STAND']].isnull().sum()

ORIGIN_STAND    904091
dtype: int64

In [11]:
loc = pd.read_csv('./metaData_taxistandsID_name_GPSlocation.csv')

In [12]:
meta_df = pd.read_csv('metaData_taxistandsID_name_GPSlocation.csv')

In [13]:
import numpy as np

In [14]:
data['ORIGIN_STAND'] = data['ORIGIN_STAND'].replace(np.array(meta_df['ID']),np.array(meta_df['Descricao']))

In [15]:
meta_df

    ID                 Descricao       Latitude  Longitude
0    1                      Agra  41.1771457135  -8.609670
1    2                   Alameda    41.15618964  -8.591064
2    3                    Aldoar  41.1705249231  -8.665876
3    4                 Alfândega  41.1437639911  -8.621803
4    5                     Amial  41.1835097223  -8.612726
..  ..                       ...            ...        ...
58  59           Tenente Valadim  41.1607030178  -8.641205
59  60                  Trindade  41.1511237005  -8.609843
60  61  Vinte e Quatro de Agosto  41.1493101131  -8.600309
61  62                      Viso  41.1778737602  -8.646558
62  63               Santa Maria  41.1603753216  -8.609370

[63 rows x 4 columns]

In [16]:
data['ORIGIN_STAND']

0                   NaN
1          Av. Boavista
2                   NaN
3                   NaN
4                   NaN
               ...
1710665             NaN
1710666             NaN
1710667             NaN
1710668     Bom Sucesso
1710669         Infante
Name: ORIGIN_STAND, Length: 1710670, dtype: object

In [72]:
tmpstr = data['POLYLINE'][0]
tmpstr = tmpstr[2:len(tmpstr)-2]
tmpstr = tmpstr.split("],[")
trajectory=[]
for tmpitem in tmpstr:
    tmpx = int(float(tmpitem.split(",")[0])*100)
    tmpy = int(float(tmpitem.split(",")[1])*100)
    trajectory.append([tmpx, tmpy])

trajectory

[[-861, 4114],
 [-861, 4114],
 [-862, 4114],
 [-862, 4114],
 [-862, 4114],
 [-862, 4114],
 [-862, 4114],
 [-863, 4114],
 [-863, 4114],
 [-863, 4114],
 [-862, 4115],
 [-862, 4115],
 [-862, 4115],
 [-862, 4115],
 [-862, 4115],
 [-862, 4115],
 [-863, 4115],
 [-863, 4115],
 [-863, 4115],
 [-863, 4115],
 [-863, 4115],
 [-863, 4115],
 [-863, 4115]]

In [ ]:
# Replace POLYLINE from a GPS location to a grid chain
trajectory_list = list()
for cnt in range(0, data.shape[0]):
    tmpstr = data['POLYLINE'][cnt]
    tmpstr = tmpstr[2:len(tmpstr)-2]
    tmpstr = tmpstr.split("],[")
    trajectory=[]
    for tmpitem in tmpstr:
        if tmpitem != '':
            tmpitem = tmpitem.split(",")
            tmpx = int(float(tmpitem[0])*100)
            tmpy = int(float(tmpitem[1])*100)
            trajectory.append([tmpx, tmpy])
    
    i = 0
    while i < len(trajectory)-1:
        if np.array_equal(trajectory[i], trajectory[i+1]):
            trajectory = np.delete(trajectory, i+1, 0)
        else:
            i = i + 1
            
    trajectory = np.int64(trajectory)
    trajectory_list.append(trajectory)

data = df.drop(['POLYLINE'], 1)
data['POLYLINE'] = trajectory_list
data.head()

# CBOW

In [21]:
words = list()
pos_list = list()
cnt = 0
for i in range(data.shape[0]):
    pos_list.append(cnt)
    for name in data.columns:
        if name != 'POLYLINE':
            words.append(str(data[name][i]))
            cnt = cnt + 1
        else:
            for li in data[name][i]:
                words.append(str(li))
                cnt = cnt + 1

print(len(words))

1835257274

In [26]:
words[2]

'nan'

In [18]:
vocabulary_size = 5000

def build_dataset(words):
    count = [['UNK', -1]]
    count.extend(collections.Counter(words).most_common(vocabulary_size - 1))
    dictionary = dict()
    for word, _ in count:
        dictionary[word] = len(dictionary)
    data = list()
    unk_count = 0
    for word in words:
        if word in dictionary:
            index = dictionary[word]
        else:
            index = 0  # dictionary['UNK']
            unk_count = unk_count + 1
        data.append(index)
    count[0][1] = unk_count
    reverse_dictionary = dict(zip(dictionary.values(), dictionary.keys())) 
    return data, count, dictionary, reverse_dictionary

data, count, dictionary, reverse_dictionary = build_dataset(words)
print('Most common words (+UNK)', count[:5])
print('Sample data', data[:10])
print(dictionary['A'])
print(dictionary['B'])
print(dictionary['C'])

NameError: name 'words' is not defined